basePath: /api/v1
definitions:
  philippines.HsPUIsAttributes:
    properties:
      ObjectId:
        type: integer
      PUIs:
        type: integer
      hf:
        type: string
      latitude:
        type: number
      longitude:
        type: number
      region:
        type: string
    type: object
  philippines.StatsAttributes:
    properties:
      ObjectId:
        type: integer
      PUIs:
        type: object
      PUMs:
        type: object
      confirmed:
        type: integer
      day:
        type: integer
      deaths:
        type: integer
      recovered:
        type: integer
      tests:
        type: object
    type: object
  rest.BasicError:
    properties:
      message:
        type: string
    type: object
  worldometer.CountryStats:
    properties:
      active_cases:
        type: integer
      cases_per_one_million:
        type: number
      country:
        type: string
      country_info:
        type: object
      deaths_per_one_million:
        type: number
      new_cases:
        type: integer
      new_deaths:
        type: integer
      serious_critical:
        type: integer
      tests_per_one_million:
        type: number
      total_cases:
        type: integer
      total_deaths:
        type: integer
      total_recovered:
        type: integer
      total_tests:
        type: integer
    type: object
  worldometer.StatesStats:
    properties:
      active_cases:
        type: integer
      cases_per_one_million:
        type: number
      deaths_per_one_million:
        type: number
      new_cases:
        type: integer
      new_deaths:
        type: integer
      serious_critical:
        type: integer
      state:
        type: string
      state_info:
        type: object
      tests_per_one_million:
        type: number
      total_cases:
        type: integer
      total_deaths:
        type: integer
      total_recovered:
        type: integer
      total_tests:
        type: integer
    type: object
host: go-covid19.sideprojects.fun
info:
  contact:
    email: jezerdavebacquian@gmail.com
    name: Jezer Dave Bacquian
    url: https://github.com/jezerdave
  description: REST Api for covid-19 cases
  license: {}
  title: GO-COVID19 API
  version: "1.0"
paths:
  /countries:
    get:
      description: get current covid data
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/worldometer.CountryStats'
            type: array
      summary: Get all countries data
  /countries/{country}:
    get:
      description: find covid19 related data by country
      parameters:
      - description: country name / code (philippines/ph/608/phl)
        in: path
        name: country
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/worldometer.CountryStats'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/rest.BasicError'
      summary: Find Country
  /doh/ph:
    get:
      description: get doh philippines official data from https://ncovtracker.doh.gov.ph/
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/philippines.StatsAttributes'
            type: array
      summary: GET DOH PHILIPPINES DATA
  /doh/ph/hospital-pui:
    get:
      description: get doh philippines official data (HOSPITAL PUIs) from https://ncovtracker.doh.gov.ph/
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/philippines.HsPUIsAttributes'
            type: array
      summary: GET DOH PHILIPPINES DATA (HOSPITAL PUIs)
  /states:
    get:
      description: get current US-States covid data
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/worldometer.StatesStats'
            type: array
      summary: Get all US-States data
  /states/{state}:
    get:
      description: find covid19 related data by state
      parameters:
      - description: State Name / State Abbreviation
        in: path
        name: state
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/worldometer.StatesStats'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/rest.BasicError'
      summary: Find State
schemes:
- https
swagger: "2.0"
